<div class="filesContainer">
	<div class="header">
		<p class="name">Name</p>
		<p class="creationDate">Date Created</p>
		<p class="owner">Owner</p>
		<p class="location">Location</p>
	</div>

	<button class="viewMoreButton">
		View More
	</button>

</div>


<script src="/javascript/renderFiles.js" defer></script>