<section class="emailVerificationNoticeSection">
	<h1>Verification Request Received</h1>
	<p>If an unverified account is associated with the email you provided, a verification link will be sent.
		Please check your inbox and spam folder.</p>
	<p>Didn't get it? Request a <a href="/auth/resend-verification-link">new</a> one.</p>

	<p class="signUpPrompt">Already have an account? <a href="/auth/sign-in">Sign In</a></p>
</section>