<section class="errorSection">
	<div class="iconContainer">
		<svg width="20px" height="20px" viewBox="0 0 278 278" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect width="277.318" height="277.318" rx="64.7703" fill="#FF0000" />
			<path d="M98.8665 97.2821C112.201 74.1869 118.868 62.6393 127.667 58.9405C134.696 55.9857 142.619 55.9857 149.648 58.9405C158.447 62.6393 165.114 74.1869 178.448 97.2821L210.761 153.25C224.095 176.345 230.762 187.893 229.566 197.362C228.61 204.927 224.649 211.789 218.575 216.399C210.973 222.17 197.638 222.17 170.97 222.17H106.344C79.6763 222.17 66.3423 222.17 58.7395 216.399C52.6659 211.789 48.7045 204.927 47.7488 197.362C46.5525 187.893 53.2195 176.345 66.5535 153.25L98.8665 97.2821Z" fill="white" />
			<rect x="129.554" y="101.151" width="18.2018" height="67.0865" rx="5.67292" fill="#FF0000" />
			<rect x="129.554" y="181.24" width="18.2018" height="18.2018" rx="5.67292" fill="#FF0000" />
		</svg>
	</div>
	<h1><%= title %></h1>
	<p><%= message %></p>
	<% if (redirectLink) {%>
	<a href="<%= redirectLink.href %>"><%= redirectLink.caption %></a>
	<% } else {%>
	<a href="/">Go Back</a>
	<% }%>
</section>