<section class="homeSection">
	<h1><%= locals.user.username %></h1>
	<img src="<%= locals.user.profilePictureUrl %>" class="profilePicture">
	<a href="/auth/sign-out">Sign Out</a>
</section>

<script src="/javascript/renderFolders.js" defer></script>
<script src="/javascript/renderFiles.js" defer></script>