<section class="signUpSuccessSection">
	<div class="iconContainer">
		<svg width="313" height="313" viewBox="0 0 313 313" fill="none" xmlns="http://www.w3.org/2000/svg">
			<mask id="mask0_1_5" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="313" height="313">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M313 156.5C313 242.933 242.933 313 156.5 313C70.0674 313 0 242.933 0 156.5C0 70.0674 70.0674 0 156.5 0C242.933 0 313 70.0674 313 156.5ZM40.1707 157.06C46.3853 149.294 57.7189 148.036 65.4852 154.25L144.785 217.707L241.238 71.0037C246.702 62.6925 258.291 59.6645 267.123 64.2405C275.954 68.8166 278.684 79.2637 273.22 87.5749L165.636 251.208C165.006 252.692 164.166 254.116 163.109 255.436C156.95 263.133 145.762 264.437 138.003 258.409C136.688 257.611 135.527 256.675 134.53 255.633L42.9802 182.374C35.214 176.16 33.9561 164.826 40.1707 157.06Z" fill="black" fill-opacity="0.73" />
			</mask>
			<g mask="url(#mask0_1_5)">
				<rect x="-97.8125" y="-58.6875" width="498.844" height="449.938" fill="#5C57B2" />
			</g>
		</svg>
	</div>
	<h1>Success</h1>
	<p>Account Verified successfully!</p>
	<a href="/auth/sign-in" class="signInLink">Sign In</a>
</section>